$pink: rgb(218, 200, 209);
$bggray: rgb(11,11,11);
$bgtext: rgb(26,26,30);

pre
{
    font-family: "Ubuntu Mono";
    background: $bggray;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    overflow-x: auto;
}

code
{
    font-family:"Ubuntu Mono";
    color: $pink;
}