<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <meta name="author" content="Your Name" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/frameless.css" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu|Open+Sans:300|Open+Sans:400" rel="stylesheet" type="text/css"/> 
    <script type="text/javascript" src="/scripts/ender.min.js"></script> 
    <script type="text/javascript" src="/scripts/coffee-script.js"></script>
    <script type="text/coffeescript" src="/scripts/debug_grid.coffee"></script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0"></meta>
    <link rel="alternate"
          type="application/rss+xml"
          title="SimpleBlog"
          href="/rss.xml" />
    <title>$title$</title>
  </head>
  <body>
    <div id="container">
      <header>
        <div class="marquee">
          <h1 id="marquee_title"><a href="/index.html" id="marquee_title">My Blog Title</a></h1>
        </div>
      </header>
      <section>
        $body$
      </section>
      <section>
        <div class="sidebar">
          <h2> About Me </h2>
          I'm Russell.  I like music, software, and electronics.  Here's my <a href="/resume.html">resume</a>.
        </div>
      </section>
      <div class="clearing"></div>
    </div>
  </body>
</html>
