<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post post-title" style="background-image:url($img$);">
    <h1 itemprop="name headline">$title$</h1>
    <span class="hidden-author" itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name"><a href="http://russellmcc.com" itemprop="url" rel="author">Russell McClellan</a></span></span>
    <time itemprop="datePublished" datetime="$date-8601$">$date-human$</time>
  </div>
  $body$
</article>
